vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2018 08:23:50 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-N490TTB\\Varney
vti_modifiedby:SR|DESKTOP-N490TTB\\Varney
vti_timecreated:TR|23 May 2018 06:46:38 -0000
vti_backlinkinfo:VX|GUI.html
vti_nexttolasttimemodified:TR|23 May 2018 08:14:23 -0000
vti_cacheddtm:TX|23 May 2018 08:23:50 -0000
vti_filesize:IR|1236
vti_cachedlinkinfo:VX|S|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=
vti_cachedsvcrellinks:VX|NSUS|data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=
